.forbidden__forbidden-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.forbidden-content__stack {
    max-width: 500px;
    justify-content: center;
    align-items: center;
}
